[Unit]
Description=Proxy-c service
After=redis-server.service
Requires=redis-server.service

[Service]
User=root
Group=root

Type=forking

# If your Puma process locks up, systemd's watchdog will restart it within seconds.
WatchdogSec=10

PIDFile=/var/proxy-c/pids/proxy-c.pid
WorkingDirectory=/opt/proxy-c
ExecStart=/usr/local/bin/puma -C /opt/proxy-c/config.rb

Restart=always


[Install]
WantedBy=multi-user.target
